
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$yield-data-primary: mat-palette($mat-indigo);
$yield-data-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$yield-data-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$yield-data-theme: mat-light-theme((
  color: (
    primary: $yield-data-primary,
    accent: $yield-data-accent,
    warn: $yield-data-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($yield-data-theme);

/*!

*/
 @import "~bootstrap/scss/bootstrap";
 @import 'now-ui-dashboard/variables';
 @import 'now-ui-dashboard/mixins';

 // Plugins CSS
 @import "now-ui-dashboard/plugins/plugin-animate-bootstrap-notify";
 @import "now-ui-dashboard/plugins/plugin-perfect-scrollbar";

 // Core CSS
 @import "now-ui-dashboard/buttons";
 @import "now-ui-dashboard/inputs";
 @import "now-ui-dashboard/typography";
 @import "now-ui-dashboard/misc";
 @import "now-ui-dashboard/checkboxes-radio";

 // components
 @import "now-ui-dashboard/navbar";
 @import "now-ui-dashboard/page-header";
 @import "now-ui-dashboard/dropdown";
 @import "now-ui-dashboard/alerts";
 @import "now-ui-dashboard/images";
 @import "now-ui-dashboard/nucleo-outline";
 @import "now-ui-dashboard/tables";
 @import "now-ui-dashboard/sidebar-and-main-panel";
 @import "now-ui-dashboard/footers";
 @import "now-ui-dashboard/fixed-plugin";

 // cards
 @import "now-ui-dashboard/cards";
 @import "now-ui-dashboard/cards/card-plain";
 @import "now-ui-dashboard/cards/card-chart";
 @import "now-ui-dashboard/cards/card-user";
 @import "now-ui-dashboard/cards/card-map";

 @import "now-ui-dashboard/responsive";
