
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$yield-data-primary: mat-palette($mat-indigo);
$yield-data-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$yield-data-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$yield-data-theme: mat-light-theme((
  color: (
    primary: $yield-data-primary,
    accent: $yield-data-accent,
    warn: $yield-data-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($yield-data-theme);

/*!

*/
 @import "bootstrap/scss/bootstrap";
 @import 'yield-databoard/variables';
 @import 'yield-databoard/mixins';

 // Plugins CSS
 @import "yield-databoard/plugins/plugin-animate-bootstrap-notify";
 @import "yield-databoard/plugins/plugin-perfect-scrollbar";

 // Core CSS
 @import "yield-databoard/buttons";
 @import "yield-databoard/inputs";
 @import "yield-databoard/typography";
 @import "yield-databoard/misc";
 @import "yield-databoard/checkboxes-radio";

 // components
 @import "yield-databoard/navbar";
 @import "yield-databoard/page-header";
 @import "yield-databoard/dropdown";
 @import "yield-databoard/alerts";
 @import "yield-databoard/images";
 @import "yield-databoard/nucleo-outline";
 @import "yield-databoard/tables";
 @import "yield-databoard/sidebar-and-main-panel";
 @import "yield-databoard/footers";
 @import "yield-databoard/fixed-plugin";

 // cards
 @import "yield-databoard/cards";
 @import "yield-databoard/cards/card-plain";
 @import "yield-databoard/cards/card-chart";
 @import "yield-databoard/cards/card-user";
 @import "yield-databoard/cards/card-map";

 @import "yield-databoard/responsive";
