<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Report Quotidien ALG</h4>
                </div>
                <div class="card-body">
                    <label for="annee"> <b> Choisir l'année : </b></label>
                    <input [formControl]="Fannee" [(ngModel)]="annee" value="0" (change)='changed($event)'
                        placeholder="Annee" type="number" />
                    <br />
                    <button (click)="dashboard()" style="background-color: #f44133;" class="btn pull-right">
                        <b>Report Quotidien</b>
                    </button>
                    <br />
                    <mat-spinner style="stroke: #f44133;" strokeWidth="3" [diameter]="100"
                        *ngIf="value === 0">
                    </mat-spinner>
                    <figure style="width: 100%; height: 400px; display: block;" class="highcharts-figure">
                        <div style="width: 100%; height: 700px; display: block;" id="container">


                        </div>
                        <p class="highcharts-description">
        
                        </p>
                    </figure>
                    
                </div>
            </div>
        </div>
    </div>
</div>