<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Concordance CSC</h4>
                </div>
                <div class="card-body">
                    <br />
                    <form class="ng-untouched ng-pristine ng-invalid" #myForm="ngForm" ngNativeValidate>
                        <div>
                            <label for="file"> <b>Fichier des concordances pour l'année N et N-1 : </b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile1"
                                (change)="fileChangeListener1($event)" accept=".xlsx" />

                        </div>
                        <br />
                        <div>
                            <label for="annee1"> <b>Choisir l'année N : </b></label>
                            <input [formControl]="FAnnee1" [(ngModel)]="annee1" (change)='changed1($event)'
                                placeholder="Année" type="number" />
                            &nbsp;&nbsp;&nbsp;
                            <label for="annee2"> <b>Choisir l'année N-1 : </b></label>
                            <input [formControl]="FAnnee2" [(ngModel)]="annee2" (change)='changed2($event)'
                                placeholder="Année" type="number" />
                            <br />

                        </div>
                        <br />
                        <mat-accordion multi>

         <!--
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Vacances de Décembre
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Choisir les jours et les mois pour chaque zone
                                    </mat-panel-description>
                                    <mat-panel-description></mat-panel-description>
                                </mat-expansion-panel-header>
                                <br />
                                <mat-label style="background-color: rgb(159, 204, 241);">
                                    Zone A :</mat-label>
                                <br />
                                <mat-form-field name="jourADecN" floatLabel="never">
                                    <label>Jour de l'année N</label>
                                    <input type="number" matInput [(ngModel)]="jourNAD" [formControl]="jourADecN" min="1" max="31"
                                        required />
                                </mat-form-field>
                                <mat-form-field name="moisADecN" floatLabel="never">
                                    <label>Mois de l'année N</label>
                                    <input type="number" matInput [(ngModel)]="moisNAD" [formControl]="moisADecN" min="1" max="12"
                                        required />
                                </mat-form-field>
                                <mat-form-field name="jourADec" floatLabel="never">
                                    <label>Jour de l'année N-1</label>
                                    <input type="number" matInput [(ngModel)]="jourAD" [formControl]="jourADec" min="1" max="31"
                                        required />
                                </mat-form-field>
                                <mat-form-field name="moisADec" floatLabel="never">
                                    <label>Mois de l'année N-1</label>
                                    <input type="number" matInput [(ngModel)]="moisAD" [formControl]="moisADec" min="1" max="12"
                                        required />
                                </mat-form-field>

                                <br />

                                <mat-label style="background-color: rgb(243, 184, 106);">
                                    Zone B :</mat-label>
                                <br />
                                <mat-form-field name="jourBDecN" floatLabel="never">
                                    <label>Jour de l'année N</label>
                                    <input type="number" matInput [(ngModel)]="jourNBD" [formControl]="jourBDecN" min="1" max="31"
                                        required />
                                </mat-form-field>
                                <mat-form-field name="moisBDecN" floatLabel="never">
                                    <label>Mois de l'année N</label>
                                    <input type="number" matInput [(ngModel)]="moisNBD" [formControl]="moisBDecN" min="1" max="12"
                                        required />
                                </mat-form-field>
                                <mat-form-field name="jourBDec" floatLabel="never">
                                    <label>Jour de l'année N-1</label>
                                    <input type="number" matInput [(ngModel)]="jourBD" [formControl]="jourBDec" min="1" max="31"
                                        required />
                                </mat-form-field>
                                <mat-form-field name="moisBDec" floatLabel="never">
                                    <label>Mois de l'année N-1</label>
                                    <input type="number" matInput [(ngModel)]="moisBD" [formControl]="moisBDec" min="1" max="12"
                                        required />
                                </mat-form-field>

                                <br />

                                <mat-label style="background-color: rgb(240, 119, 89);">
                                    Zone C :</mat-label>
                                <br />
                                <mat-form-field name="jourCDecN" floatLabel="never">
                                    <label>Jour de l'année N</label>
                                    <input type="number" matInput [(ngModel)]="jourNCD" [formControl]="jourCDecN" min="1" max="31"
                                        required />
                                </mat-form-field>
                                <mat-form-field name="moisCDecN" floatLabel="never">
                                    <label>Mois de l'année N</label>
                                    <input type="number" matInput [(ngModel)]="moisNCD" [formControl]="moisCDecN" min="1" max="12"
                                        required />
                                </mat-form-field>
                                <mat-form-field name="jourCDec" floatLabel="never">
                                    <label>Jour de l'année N-1</label>
                                    <input type="number" matInput [(ngModel)]="jourCD" [formControl]="jourCDec" min="1" max="31"
                                        required />
                                </mat-form-field>
                                <mat-form-field name="moisCDec" floatLabel="never">
                                    <label>Mois de l'année N-1</label>
                                    <input type="number" matInput [(ngModel)]="moisCD" [formControl]="moisCDec" min="1" max="12"
                                        required />
                                </mat-form-field>

                                <mat-datepicker #picker></mat-datepicker>
                            </mat-expansion-panel>

                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Jours fériers
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Choisir les jours et les mois pour chaque jour férier
                                    </mat-panel-description>
                                    <mat-panel-description></mat-panel-description>
                                </mat-expansion-panel-header>
                                
                                <br />
                                <mat-label style="background-color: rgb(243, 241, 101);">
                                    Pâques :</mat-label>
                                <br />
                                
                                <mat-form-field appearance="fill">
                                    <mat-label>Date début pour l'année N-1</mat-label>
                                    <input matInput [matDatepicker]="pickerPa1" [formControl]="paq1" onkeyup="
                                    var v = this.value;
                                    if (v.match(/^\d{2}$/) !== null) {
                                        this.value = v + '/';
                                    } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
                                        this.value = v + '/';
                                    }" (keypress)="_keyPress($event)" maxlength="10">
                                    <mat-datepicker-toggle matSuffix [for]="pickerPa1"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerPa1></mat-datepicker>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;
                                
                                <mat-form-field appearance="fill">
                                    <mat-label>Date fin pour l'année N-1</mat-label>
                                    <input matInput [matDatepicker]="pickerPa2" [formControl]="paq2" onkeyup="
                                    var v = this.value;
                                    if (v.match(/^\d{2}$/) !== null) {
                                        this.value = v + '/';
                                    } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
                                        this.value = v + '/';
                                    }" (keypress)="_keyPress($event)" maxlength="10">
                                    <mat-datepicker-toggle matSuffix [for]="pickerPa2"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerPa2></mat-datepicker>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;

                                <mat-form-field appearance="fill">
                                    <mat-label>Date début pour l'année N</mat-label>
                                    <input matInput [matDatepicker]="pickerPa3" [formControl]="paq3" onkeyup="
                                    var v = this.value;
                                    if (v.match(/^\d{2}$/) !== null) {
                                        this.value = v + '/';
                                    } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
                                        this.value = v + '/';
                                    }" (keypress)="_keyPress($event)" maxlength="10">
                                    <mat-datepicker-toggle matSuffix [for]="pickerPa3"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerPa3></mat-datepicker>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;

                                <mat-form-field appearance="fill">
                                    <mat-label>Date fin pour l'année N</mat-label>
                                    <input matInput [matDatepicker]="pickerPa4" [formControl]="paq4" onkeyup="
                                    var v = this.value;
                                    if (v.match(/^\d{2}$/) !== null) {
                                        this.value = v + '/';
                                    } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
                                        this.value = v + '/';
                                    }" (keypress)="_keyPress($event)" maxlength="10">
                                    <mat-datepicker-toggle matSuffix [for]="pickerPa4"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerPa4></mat-datepicker>
                                </mat-form-field>
                                <br />
                            </mat-expansion-panel>
                            -->

                        </mat-accordion>

                        <button (click)="deleteData()" [hidden]="dataSource.data.length === 0"
                            style="background-color: rgb(256,54,54);" class="btn pull-right">
                            <b>Supprimer le tableau</b>
                        </button>

                        &nbsp;&nbsp;&nbsp;
                        <button (click)="createFile()" [hidden]="dataSource.data.length !== 0"
                            style="background-color: rgb(256,54,54);" class="btn pull-right">
                            <b>Concorder</b>
                        </button>
                        <br />
                    </form>
                    <br />
                    <br />
                    <mat-spinner style="stroke: rgb(256,54,54);" strokeWidth="3" [diameter]="100"
                        *ngIf="dataSource.data.length === 0 && value === 0">
                    </mat-spinner>
                    <div #TABLE class="table-responsive" [hidden]="dataSource.data.length === 0">

                        <!--Table-->

                        <table id="reporting" mat-table bordered="true" matTableExporter #exporter="matTableExporter"
                            class="mat-elevation-z8 table-hover table" [dataSource]="dataSource">

                            <ng-container matColumnDef="ARMATEUR">
                                <th mat-header-cell *matHeaderCellDef>
                                    ARMATEUR
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.ARMATEUR }} </b>
                                </td>

                            </ng-container>

                            <ng-container matColumnDef="NAVIRE">
                                <th mat-header-cell *matHeaderCellDef>
                                    NAVIRE
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.NAVIRE }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="DATEHEUREDEPART">
                                <th mat-header-cell *matHeaderCellDef>
                                    DATEHEUREDEPARTS
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.DATEHEUREDEPART }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="NAVIREW">
                                <th mat-header-cell *matHeaderCellDef>
                                    NAVIREW
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.NAVIREW }}</b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="DATEHEUREDEPARTW">
                                <th mat-header-cell *matHeaderCellDef>
                                    DATEHEUREDEPARTW
                                </th>
                                <td mat-cell *matCellDef="let element"> <b>{{ element.DATEHEUREDEPARTW }} </b></td>
                            </ng-container>

                            <ng-container matColumnDef="MAXDATEFICHIER">
                                <th mat-header-cell *matHeaderCellDef>
                                    MAXDATEFICHIER
                                </th>
                                <td mat-cell *matCellDef="let element"> <b> {{ element.MAXDATEFICHIER }} </b></td>

                            </ng-container>
                            <ng-container matColumnDef="INFO">
                                <th mat-header-cell *matHeaderCellDef>
                                    INFO
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.INFO }} </b>
                                </td>

                            </ng-container>

                            <ng-container matColumnDef="RESEAU">
                                <th mat-header-cell *matHeaderCellDef>
                                    RESEAU
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.RESEAU }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="PORTDEP">
                                <th mat-header-cell *matHeaderCellDef>
                                    PORTDEP
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.PORTDEP }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="PORTARR">
                                <th mat-header-cell *matHeaderCellDef>
                                    PORTARR
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.PORTARR }}</b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="PORTDEPW">
                                <th mat-header-cell *matHeaderCellDef>
                                    PORTDEPW
                                </th>
                                <td mat-cell *matCellDef="let element"> <b>{{ element.PORTDEPW }} </b></td>
                            </ng-container>

                            <ng-container matColumnDef="PORTARRW">
                                <th mat-header-cell *matHeaderCellDef>
                                    PORTARRW
                                </th>
                                <td mat-cell *matCellDef="let element"> <b> {{ element.PORTARRW }} </b></td>

                            </ng-container>
                            <ng-container matColumnDef="MODELE">
                                <th mat-header-cell *matHeaderCellDef>
                                    MODELE
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.MODELE }} </b>
                                </td>

                            </ng-container>

                            <ng-container matColumnDef="NUMPACKAGE">
                                <th mat-header-cell *matHeaderCellDef>
                                    NUMPACKAGE
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.NUMPACKAGE }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="NUMPACKAGEW">
                                <th mat-header-cell *matHeaderCellDef>
                                    NUMPACKAGEW
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.NUMPACKAGEW }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="MINDATEFICHIER">
                                <th mat-header-cell *matHeaderCellDef>
                                    MINDATEFICHIER
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.MINDATEFICHIER }}</b>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[25, 100, 1000, 10000]"></mat-paginator>
                        <div class="export-container">
                            <button style="background-color: rgb(256,54,54);" class="btn pull-right" mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:date, sheet: 'CSC', Props: {Author: 'Reda CHANAA'}})">Exporter en Excel</button>
                        </div>
                        
                        <!--
                        <button style="background-color: rgb(256,54,54);" mat-raised-button
                            (click)="exporter.exportTable('csv', {fileName:'Reporting',delimiter:';'})" class="btn pull-right">
                            Exporter en Excel
                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>