<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Report Quotidien CSC</h4>
                </div>
                <div class="card-body">
                    <figure class="highcharts-figure">
                        <div id="container">


                        </div>
                        <p class="highcharts-description">
        
                        </p>
                    </figure>
                    
                </div>
            </div>
        </div>
    </div>
</div>