.example-section mat-checkbox {
    margin: 0px 20px 0px 3px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #f44133;
    color: white;
}

.mat-header-cell {
    background-color: #f44133;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    font-weight: bold;
}

.mat-row:nth-child(even) {
    text-align: center;
    /*background-color: rgb(221, 222, 240);*/
}

.mat-row:nth-child(odd) {
    text-align: center;
}

mat-icon {
    position: relative;
    float: right;
    top: -3px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
  }