<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Mesure de ventes ALG</h4>
                </div>
                <div class="card-body">
                    <br />
                    <form class="ng-untouched ng-pristine ng-invalid" #myForm="ngForm" ngNativeValidate>
                        <div>
                            <label for="file"> <b>1er fichier du jour J-1 :</b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile1"
                                (change)="fileChangeListener1($event)" accept=".csv"/>
                            <br/>
                                <label for="file"><b>2eme fichier du jour J :</b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile2"
                                (change)="fileChangeListener2($event)" accept=".csv" />
                                
                        </div>
                        <br />
                        <label for="ecart"> <b>Ecart supérieur à : </b></label>
                        <input [formControl]="Fecart" [(ngModel)]="ecart" value="0" (change)='changed($event)' placeholder="Ecart"
                            type="number" />
                        <br />
                        <button (click)="deleteData()" [hidden]="dataSource.data.length === 0" style="background-color: rgb(256,54,54);" class="btn pull-right">
                            <b>Supprimer le tableau</b>
                        </button>

                        &nbsp;&nbsp;&nbsp;
                        <button (click)="createFile()" [hidden]="dataSource.data.length !== 0" style="background-color: rgb(256,54,54);"
                         class="btn pull-right">
                            <b>Mesures de ventes</b>
                        </button><br />
                    </form>
                    <br />
                    <br />
                    <mat-spinner style="stroke: rgb(256,54,54);" strokeWidth="3" [diameter]="100"
                        *ngIf="dataSource.data.length === 0 && value === 0">
                    </mat-spinner>
                    <div #TABLE class="table-responsive" [hidden]="dataSource.data.length === 0">

                        <!--Table-->

                        <table id="reporting" mat-table bordered="true" matTableExporter #exporter="matTableExporter" class="mat-elevation-z8 table-hover table"
                            [dataSource]="dataSource">

                            <ng-container matColumnDef="ID">
                                <th mat-header-cell *matHeaderCellDef>
                                    ID
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.ID }} </b>
                                </td>

                            </ng-container>

                            <ng-container matColumnDef="NAVIRE">
                                <th mat-header-cell *matHeaderCellDef>
                                    NAVIRE
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.NAVIRE }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="SENS">
                                <th mat-header-cell *matHeaderCellDef>
                                    SENS
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.SENS }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="DATE">
                                <th mat-header-cell *matHeaderCellDef>
                                    DATE
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.DATE }}</b>
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="DEPART">
                                <th mat-header-cell *matHeaderCellDef>
                                    DEPART
                                </th>
                                <td mat-cell *matCellDef="let element"> <b> {{ element.DEPART }} </b></td>
                                
                            </ng-container>

                            <ng-container matColumnDef="ARRIVEE">
                                <th mat-header-cell *matHeaderCellDef>
                                    ARRIVEE
                                </th>
                                <td mat-cell *matCellDef="let element"> <b> {{ element.ARRIVEE }} </b></td>
                                
                            </ng-container>
                            <ng-container matColumnDef="VENTE">
                                <th mat-header-cell *matHeaderCellDef>
                                    VENTE J-1
                                </th>
                                <td mat-cell *matCellDef="let element"> <b> {{ element.VENTE }} </b></td>
                                
                            </ng-container>
                            <ng-container matColumnDef="VENTEJ">
                                <th mat-header-cell *matHeaderCellDef>
                                    VENTE J
                                </th>
                                <td mat-cell *matCellDef="let element"> <b> {{ element.VENTEJ }} </b></td>
                                
                            </ng-container>
                            
                            <ng-container matColumnDef="ECART">
                                <th mat-header-cell *matHeaderCellDef>
                                    ECART
                                </th>
                                <td mat-cell *matCellDef="let element"> <b> {{ element.ECART }} </b></td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[25, 100, 1000]"></mat-paginator>
                        <div class="export-container">
                            <button style="background-color: rgb(256,54,54);" class="btn pull-right" mat-raised-button
                                (click)="exportTable()">Exporter en Excel</button>
                            <button style="background-color: rgb(256,54,54);" class="btn pull-right" mat-raised-button
                                (click)="printTable()">Imprimer</button>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>