<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Reporting de ventes CSC</h4>
                </div>
                <div class="card-body">
                    <br />
                    <form class="ng-untouched ng-pristine ng-invalid" #myForm="ngForm" ngNativeValidate>
                        <div>
                            <label for="file"> <b>1er fichier extract du jour N-1 :</b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile1"
                                (change)="fileChangeListener1($event)" accept=".csv" />
                            <label for="file"><b>2eme fichier extract du jour N :</b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile2"
                                (change)="fileChangeListener2($event)" accept=".csv" />

                        </div>
                        <br />

                        <label for="annee"> <b>Choisir l'année : </b></label>
                        <input [formControl]="FAnnee" [(ngModel)]="annee" (change)='changed($event)' placeholder="Année"
                            type="number" />
                        <br />
                        <br />
                        <mat-label>Choisir le(s) mois :</mat-label>
                        <br />
                        <br />

                        <div>
                            <section class="example-section">
                                <mat-checkbox [(ngModel)]="HiddenJan" name="HiddenJan"> Janvier &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                <mat-checkbox [(ngModel)]="HiddenFev" name="HiddenFev">Février &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                <mat-checkbox [(ngModel)]="HiddenMar" name="HiddenMar">Mars &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                <mat-checkbox [(ngModel)]="HiddenAvr" name="HiddenAvr">
                                    Avril &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                <mat-checkbox [(ngModel)]="HiddenMai" name="HiddenMai">Mai &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                <mat-checkbox [(ngModel)]="HiddenJuin" name="HiddenJuin">Juin &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                <mat-checkbox [(ngModel)]="HiddenJuil" name="HiddenJuil">Juillet &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                <mat-checkbox [(ngModel)]="HiddenAout" name="HiddenAout">
                                    Août &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                <mat-checkbox [(ngModel)]="HiddenSep" name="HiddenSep">Septembre &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                <mat-checkbox [(ngModel)]="HiddenOct" name="HiddenOct">Octobre &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                <mat-checkbox [(ngModel)]="HiddenNov" name="HiddenNov">Novembre &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                <mat-checkbox [(ngModel)]="HiddenDec" name="HiddenDec">
                                    Décembre &nbsp;&nbsp;&nbsp;
                                </mat-checkbox>
                            </section>
                        </div>
                        <br />
                        
                        <button (click)="deleteData()" style="background-color: rgb(255, 54, 54);"
                            class="btn pull-right">
                            <b>Supprimer le tableau</b>
                        </button>

                        &nbsp;&nbsp;&nbsp;
                        <button  (click)="createFile()" style="background-color: rgb(255, 54, 54);"
                            [disabled]="!myForm.form.valid" class="btn pull-right">
                            <b>Reporting de ventes</b>
                        </button>
                        <br />
                    </form>
                    <br />
                    <br />
                    <mat-spinner style="stroke: rgb(255, 54, 54);" strokeWidth="3" [diameter]="100"
                        *ngIf="dataSource.data.length === 0 && value === 0">
                    </mat-spinner>
                    <div class="table-responsive" [hidden]="dataSource.data.length === 0">

                        <!--Table-->

                        <table mat-table matTableExporter bordered="true" #exporter="matTableExporter"
                            class="mat-elevation-z8 table-hover table" [dataSource]="dataSource">

                            <ng-container matColumnDef="ALGERIE">
                                <th mat-header-cell *matHeaderCellDef>
                                    ALGERIE
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.ALGERIE }} </b>
                                </td>

                            </ng-container>

                            <ng-container matColumnDef="VENTEYES">
                                <th mat-header-cell *matHeaderCellDef>
                                    VENTES N-1
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.VENTEYES }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="VENTE">
                                <th mat-header-cell *matHeaderCellDef>
                                    VENTES N
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.VENTE }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="CUMUL">
                                <th mat-header-cell *matHeaderCellDef>
                                    CUMUL {{annee}}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.CUMUL }}</b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ECART">
                                <th mat-header-cell *matHeaderCellDef>
                                    ECART vs N-1
                                </th>
                                <td mat-cell *matCellDef="let element"> <b>{{ element.ECART }} </b></td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
                        </table>

                        <button style="background-color: rgb(255, 54, 54);" mat-raised-button
                            (click)="exporter.exportTable('csv')" class="btn pull-right">
                            Exporter en Excel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>